<form action="/url/create" method="POST" class="form-signin">
  <h2>Upload your daily activities</h2>
  <p><input type="text" name="name" value="" placeholder="Username"></p>
  <p><input type="text" name="url" value="" placeholder="Url"></p>
  <p><input type="text" name="comments" value="" placeholder="Comments"></p>

  <p><input type="submit" value="Upload" class="btn btn-lg- btn-primary btn-block"/></p>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>




