<div class="container">
  <div class="jumbotron">
    <h1>Pravega - Made by ACM</h1>
    <h2>Management Portal.</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign Up now!</a>
  </div>
</div>
