<!-- Latest compiled and minified CSS -->
<div class="container">
  <div class="jumbotron">
    <h1>Pravega - Let's start Race ...</h1>
    <h2>Click on Sign up now for signing up.</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign Up now!</a>
  </div>
</div>
